{% extends "swingtime/swingtime_base.html" %}

{% block title %}Calendar Home{% endblock %}

{% block main_content %}

    <h3 class="margin-top-10 text-center">Welcome to the real benefit of RollerTron</h3>
    <p class="lead margin-top-10">Hello Khaleesi, you are the only one that can access any of these pages.<br>
      In the grey navbar above you'll see 4 sections:</p>
      <ul class="lead">
        <li>Upcoming Con</li>
        <li>Challenges</li>
        <li>Trainings</li>
        <li>Schedule</li></ul>

    <p class="lead margin-top-10">The <b>Upcoming Con</b> dropdown will let you manually schedule any Accepted Challenges and Trainings for the most upcoming Con.</p>
  <p class="lead margin-top-10">Before making use of that, you're going to need to use the <b>Challenges</b> and <b>Trainings</b> dropdowns to decide which submitted activities you
want to accept.
<b>Submitted</b> will show you everything that has been submitted for the Con and has not been rejected. If you reject an activity, it doesn't go away forever, but it will be put aside and only accessible from the <b>Rejected</b> page,
so you don't need to see things you know you don't want every time you look at Submitted Challenges or Activities.<br>
<b>Accepted</b> will only show you those you've accepted.</p>

  <p class="lead margin-top-10">The rightmost dropdown pertains to the <b>Schedule</b>.<br>
    you can look at <b>Scheduled</b> at any time to see what you've already put on the schedule.<br>
     <b>Un-Scheduled</b> is where the schedule hole-filler will eventually live, but it doesn't yet.<br>
     When you think you're almost done, you can go to <b>Status</b> to make the tentative schedule visible on the site,
     or make it final. At that point, users will no longer be able to delete Challenges or Trainings that have been put on the schedule; you will be the only one that can do that.</p>

{% endblock %}
