<!DOCTYPE html>
{% extends 'layouts/base.html'%}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<head>
<title>{% block title %}Respond to Challenge{% endblock %}</title>
</head>


<div class="row" id="moreInfo">
  <div class="col-sm-12">
      <div class="well well-sm">
        <h3 class="text-center">Which Team will you be captaining against {{opponent.name}}?<br>
          <small>Please select an existing team to  <span class="tooltip-bottom" title="All team details, INCLUDING skater roster, will be copied.">
            clone <span class="glyphicon glyphicon-question-sign" aria-hidden="true" >,</span></span>
            or click "Create New Team"</small></h3>

<hr>
        <form method="POST" class="post-form" action="{% url 'challenge_respond' %}">
              {% csrf_token %}
              <input type="hidden" name="registrant_id" value="{{ registrant.id }}" />
              <input type="hidden" name="activity_id" value="{{ challenge.id }}" />
              <input type="hidden" name="my_team_id" value="{{ my_team.id }}" />
              {%if opponent%}<input type="hidden" name="opponent_id" value="{{ opponent.id }}" />{%endif%}

              <input type="hidden" name="accept" value="accept" />

        <table class="table table-condensed" style="margin: 0px 0px 0px 0px;">
  <tr>
{%for field in form%}
  <td style="border:none;vertical-align: middle;">
        <label for="exampleInputName2" style="padding: 0px 10px 10px 10px;">{{field.label}}</label>
      </td>
          <td style="border:none; text-align: center;">
            {{ field }}</td>

  <td style="border:none; text-align: center;">
  <input class="btn btn-primary" type="submit" method="post" name="clone_existing_team" value="Clone Existing Team">
</td>{%endfor%}

      <td style="border:none; text-align: center;">
          <input class="btn btn-success" type="submit" method="post" name="create_new_team" value="Create New Team">
        </td>
</tr></table></form>

  </div><!-- well -->
  </div><!-- end col-sm-12 -->
</div><!-- end row-->
{% endblock %}
