<!DOCTYPE html>
{% extends 'layouts/base.html'%}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<head>
<title>{% block title %}My Challenges & Games{% endblock %}</title>
</head>


<div class="row" id="moreInfo">
  <div class="col-sm-12">
    <h3>My Challenges & Games</h3>

    {%if not registrant_dict_list%}
    <div class="alert alert-danger" role="alert">
    You have not have any RollerCon passes on file. Please contact the site administrator if you believe this to be in error.</div>
    {%else%}

    <div class="tabbable">
      <ul class="nav nav-tabs">

{%for dict in registrant_dict_list%}

{% with forloop.counter|stringformat:"s" as con_number %}
{% with '#tab'|add:con_number as tab_number %}

<li {%if dict.con == active %}class="active"{%endif%}><a href="{{tab_number}}" data-toggle="tab">{{dict.con}}</a></li>

{%endwith%}{%endwith%}
{%endfor%}
</ul>

<div class="tab-content margin-top-10">
{%for dict in registrant_dict_list%}
{% with forloop.counter|stringformat:"s" as con_number %}
{% with 'tab'|add:con_number as tab_number %}


<div class="tab-pane {%if dict.con == active %}active{%endif%}" id="{{tab_number}}">


  <div class="row">
    <div class="col-md-12 pull-left">
    <div class="panel panel-default">
    <div class="panel-body">

{%if dict.pending %}
{%if not dict.con.can_submit_chlg%}
      {%if dict.sub_full %}
      <div class="alert alert-danger" role="alert">The cap for Challenge sumbission has been reached for {{dict.con}} and submission is now closed.</div>
      {%elif not dict.can_sub_date %}
      <div class="alert alert-danger" role="alert">Challenge Submission opens on {{ dict.con.challenge_submission_start }}</div>
      {% endif %}
{% endif %}

{%if dict.cap_exceeded%}<div class="alert alert-danger" role="alert">You can only be captain of {{MAX_CAPTAIN_LIMIT}} submitted Challenge{{ MAX_CAPTAIN_LIMIT|pluralize }}.
  {%if dict.chals_submitted|length < MAX_CAPTAIN_LIMIT %}After you submit {{MAX_CAPTAIN_LIMIT}}, you will no longer be able to submit the rest, and can
  {%else%}You have already submitted the maximum amount. Please{%endif%}
  either designate another captain for the others, or reject them on the Edit Challenge page.</div>{%endif%}

{%if ALL_CHALLENGE_NOTIFY%}
<div class="alert alert-danger" role="alert">You have<ul>
{%if NOTIFY_UNACCEPTED_CHALLENGES%}<li>{{NOTIFY_UNACCEPTED_CHALLENGES}} Competitive
event{{ NOTIFY_UNACCEPTED_CHALLENGES|pluralize }} which {%if NOTIFY_UNACCEPTED_CHALLENGES > 1%}have{%else%}has{%endif%} not been accepted by yourself or your opposing captain.</li>{%endif%}
{%if NOTIFY_PENDING_CHALLENGES%}<li>{{NOTIFY_PENDING_CHALLENGES}} Competitive event{{ NOTIFY_PENDING_CHALLENGES|pluralize }} which {%if NOTIFY_PENDING_CHALLENGES > 1%}have{%else%}has{%endif%} not been submitted.</li>{%endif%}
</ul></div>{%endif%}<!-- ALL_CHALLENGE_NOTIFY -->
{%endif%}<!-- dict.pending -->

{%if dict.pending or dict.scheduled or dict.unconfirmed%}
      <table class="table table-hover">
      <tr><th>Challenge/Game</th><th>Status</th><th class="text-center" colspan="3">Actions</th></tr>

      {%if dict.pending%}

      {%for item in dict.pending%}

      <tr td class="danger"><td>{{item.name}}</td><td>
          <span class="glyphicon tooltip-bottom" aria-hidden="true" title="This challenge/game has NOT{%if item.captain1accepted and item.captain2accepted %} been submitted{%else%} been accepted by both captains{%endif%} yet">
            <i class="fa fa-exclamation"></i><b>
              {%if item.captain1accepted and item.captain2accepted %}Unsubmitted{%else%} Requires<br>Acceptance{%endif%}
            </b></span></td>
            {%if item.roster1.captain in registrant_list or item.roster2.captain in registrant_list %}
            <td class="text-center">

              <form method="POST" class="post-form" action="{% url 'challenge_submit' %}">
                    {% csrf_token %}
                    <input type="hidden" name="activity_id" value="{{ item.id }}" />
              <input class="btn btn-danger btn-block" type="submit" method="post" name="submit_challenge" value="Submit Challenge"
              {%if not item.can_submit_chlg %}disabled
              {%elif dict.chals_submitted|length >= MAX_CAPTAIN_LIMIT and not item.is_a_game %}
              disabled
              {%endif%}>
              </form>

            </td>
            <td class="text-right">
              <a class="btn btn-success btn-block" href="{{item.get_edit_url}}" role="button">Edit Challenge</a></td>
              <td class="text-right"><a class="btn btn-primary btn-block" href="{{item.get_view_url}}" role="button">
                {%else%}

                <td class="text-right">
                {%if dict.registrant in item.roster1.participants.all%}
                {% with the_roster=item.roster1%}{% url 'email_captain' the_roster.id as email_url%}<a class="btn btn-primary btn-block" href="{{ email_url }}" role="button">{%endwith%}
                {%elif dict.registrant in item.roster2.participants.all%}
                {% with the_roster=item.roster2%}{% url 'email_captain' the_roster.id as email_url%}<a class="btn btn-primary btn-block" href="{{ email_url }}" role="button">{%endwith%}
                {%endif%}
                <i>Email Captain</i></a></td>

                <td class="text-right" colspan="2"><a class="btn btn-primary btn-block" href="{{item.get_view_url}}" role="button">{%endif%}
                See Challenge</a></td></tr>
      {%endfor%}{%endif%}

      {%if dict.scheduled%}
      {%for item in dict.scheduled%}
      <tr><td>{{item.name}}</td><td>
        <span class="glyphicon tooltip-bottom" aria-hidden="true" title="Congratulations! This challenge has been scheduled!">
          <i class="fa fa-check"></i> Scheduled</span></td>

      {%if item.roster1.captain in registrant_list or item.roster2.captain in registrant_list %}
      <td class="text-center">
        <form method="POST" class="post-form" action="{% url 'challenge_submit' %}">
              {% csrf_token %}
              <input type="hidden" name="activity_id" value="{{ item.id }}" />
        <input class="btn btn-danger btn-block" type="submit" method="post" name="challenge unsubmit" value="Un-Submit Challenge" disabled>
        </form></td>

      <td class="text-right">
        <a class="btn btn-success btn-block" href="{{item.get_edit_url}}" role="button">Edit Challenge</a></td>
        <td class="text-right"><a class="btn btn-primary btn-block" href="{{item.get_view_url}}" role="button">
          {%else%}

          <td class="text-right">
          {%if dict.registrant in item.roster1.participants.all%}
          {% with the_roster=item.roster1%}{% url 'email_captain' the_roster.id as email_url%}<a class="btn btn-primary btn-block" href="{{ email_url }}" role="button">{%endwith%}
          {%elif dict.registrant in item.roster2.participants.all%}
          {% with the_roster=item.roster2%}{% url 'email_captain' the_roster.id as email_url%}<a class="btn btn-primary btn-block" href="{{ email_url }}" role="button">{%endwith%}
          {%endif%}
          <i>Email Captain</i></a></td>

          <td class="text-right" colspan="2"><a class="btn btn-primary btn-block" href="{{item.get_view_url}}" role="button">{%endif%}
          See Challenge</a></td></tr>
    {%endfor%}{%endif%}

      {%if dict.unconfirmed%}
      {%for item in dict.unconfirmed%}
      <tr><td>{{item.name}}</td><td >
          <span class="glyphicon tooltip-bottom" aria-hidden="true" title="Challenge has been submitted, but not scheduled by RollerCon admins">
            <i class="fa fa-question"></i> Submitted on</span><br>{{item.submitted_on}}</td>

      {%if item.roster1.captain in registrant_list or item.roster2.captain in registrant_list %}
      <td class="text-center">

        <form method="POST" class="post-form" action="{% url 'challenge_submit' %}">
              {% csrf_token %}
              <input type="hidden" name="activity_id" value="{{ item.id }}" />
        <input class="btn btn-danger btn-block" type="submit" method="post" name="challenge unsubmit" value="Un-Submit Challenge">
        </form></td>

      <td class="text-right">
        <a class="btn btn-success btn-block" href="{{item.get_edit_url}}" role="button">Edit Challenge</a></td>
        <td class="text-right"><a class="btn btn-primary btn-block" href="{{item.get_view_url}}" role="button">
          {%else%}

          <td class="text-right">
          {%if dict.registrant in item.roster1.participants.all%}
          {% with the_roster=item.roster1%}{% url 'email_captain' the_roster.id as email_url%}<a class="btn btn-primary btn-block" href="{{ email_url }}" role="button">{%endwith%}
          {%elif dict.registrant in item.roster2.participants.all%}
          {% with the_roster=item.roster2%}{% url 'email_captain' the_roster.id as email_url%}<a class="btn btn-primary btn-block" href="{{ email_url }}" role="button">{%endwith%}
          {%endif%}
          <i>Email Captain</i></a></td>

          <td class="text-right" colspan="2"><a class="btn btn-primary btn-block" href="{{item.get_view_url}}" role="button">{%endif%}
          See Challenge</a></td></tr>
    {%endfor%}{%endif%}


      </table>

      {%else%}<!-- if no challenges -->
      <p>No Challenges or Games found.</p>
      {%endif%}

    </div>

    </div>


        </div><!-- end row -->
        </div><!-- end col-md-4 center-block-->
        </div><!-- end tab-pane -->
        {%endwith%}{%endwith%}
        {%endfor%}<!-- dict in registrant_dict_list% -->

      </div><!-- end tab-content -->
    </div><!-- end tabbable -->
{%endif%}<!-- if registrant_dict_list, ie if they have registered for at least one con -->
  </div><!-- end col-sm-12 -->
</div><!-- end row-->



{% endblock %}
