<!DOCTYPE html>
{% extends 'layouts/base.html'%}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<head>
<title>{% block title %}New{%if is_a_game%} Game{%else%} Challenge{%endif%}{% endblock %}</title>

</head>

<div class="row" id="moreInfo">
  <div class="col-sm-12">
    <h3>Propose a New Challenge or Game</h3>

{%if upcoming_registrants and cansk8 %}
  <p class="margin-top-15"><b>{%if my_teams_as_cap%}Clone one of your existing teams or c{%else%}C{%endif%}reate new team</b></p>

{%if formlist %}
<div class="col-sm-6">


  {%if my_teams_as_cap %}
    <div class="list-group">
    <div class="dropdown">
    <button class="list-group-item active btn btn-default dropdown-toggle list-group-item" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
    Clone a Team I'm Captaining
    </button>
    <ul class="dropdown-menu" style= "width: 100%; text-align: center;" aria-labelledby="dropdownMenu1">
    {%for t in my_teams_as_cap%}
    {%with t.id as to_clone_id %}
    <form method="POST" class="post-form">
          {% csrf_token %}
  <input type="hidden" name="roster_to_clone_id" value="{{ to_clone_id }}" />{%endwith%}
      <li class="list-group-item">
        <input type="submit" class="btn btn-primary btn-block" name="clone roster" value="{{ t.name|truncatechars:40}}: {{t.con}}">
    </li>
  </form>
    {%endfor%}
      </ul></div></div>
  {%endif%}




<form method="POST" class="post-form">
      {% csrf_token %}

{%for form in formlist %}
{%for field in form %}
{%if field.errors%}{{field.errors}}{%endif%}
<div class="form-group">{{ field.label }} {{ field }}
</div>
{%endfor%} {%endfor%}
<button type="submit" class="btn btn-primary margin-top-10" >Propose{%if is_a_game%} Game{%else%} Challenge{%endif%}</button>
</form>
</div>
{%endif%}


{%else%} <!--if not upcoming_registrants or not can sk8-->
<div class="alert alert-danger" role="alert">In order to propose a Challenge, you need have a Skater or MVP pass for an upcoming RollerCon, which you do not.<br>
  A possible reason for this confusion could be if you purchased a pass with a different email from that which you used to log in.</p>
  <p>Please contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>or<a href="mailto:{{RC_GENERAL_ADMIN_EMAIL}}" class="alert-link"> RollerCon administrator </a>if you believe this is in error, or require further assistance.</div>
{%endif%}


  </div><!-- end col-sm-12 -->
</div><!-- end row-->

{% endblock %}
