<!DOCTYPE html>
{% extends 'layouts/base.html'%}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<head>
<title>{% block title %}Register for Training{% endblock %}</title>
</head>


<div class="row" id="moreInfo">

  {%if not training %}
    <div class="alert alert-danger" role="alert">This Training does not exist. Please contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>if you believe this is the result of an error.</div>
    {%elif not occur %}
      <div class="alert alert-danger" role="alert">This Occurrence does not exist. Please contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>if you believe this is the result of an error.</div>
    {%else%}

  {% if user not in occur.can_add_sk8ers %}
  <div class="alert alert-danger" role="alert">
    You have not have permission to register people this training. Please contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>or<a href="mailto:{{RC_GENERAL_ADMIN_EMAIL}}" class="alert-link"> RollerCon administrator </a>if you believe this is an error.</div>
  {%elif not user.is_a_boss and not occur.registered.can_register%}
  <div class="alert alert-danger" role="alert">
    It is too early to register for this class. Please check back {%if occur.registered.can_register_at %}after {{occur.registered.can_register_at}}{%else%}later.{%endif%}</div>


{%else%}

  <div class="col-sm-12">
  <h3 class="text-center">Register MVPs for {{training.name}}</h3>

  <h4 class="text-center">
{{ occur.start_time|date:"D d M" }} <b>{{ occur.start_time|date:"f a" }} to {{ occur.end_time|date:"f a" }}</b>
<small>{{occur.location.name}}</small>
</h4>


  <p class="text-center"><a class="btn btn-primary" href="{% url 'view_training' training.pk occur.pk %}" role="button">See Training Details</a>
  {%if user in training.editable_by %}
  <a class="btn btn-success" href="{{training.get_edit_url}}" role="button">Edit Training Details</a>{%endif%}
</p>

{%if add_fail %}
<div class="alert alert-danger text-center" role="alert">{%if add_fail.sk8name%}{{add_fail.sk8name}}{%else%}Skater{%endif%}{{add_fail.sk8name}} NOT added to {{roster}}</div>
{%elif skater_added %}
<div class="alert alert-success text-center" role="alert">{{skater_added}} added to {{roster.name}}</div>
{%endif%}

{% if remove_fail %}
<div class="alert alert-danger text-center" role="alert">{%if remove_fail.sk8name%}{{remove_fail.sk8name}}{%else%}Skater{%endif%} NOT removed from {{roster}}</div>
{% elif skater_remove %}
<div class="alert alert-success text-center" role="alert">{{skater_remove}} removed from {{roster.name}}</div>
{%endif%}


      <div class="col-sm-6">
      <div class="well well-lg">
        <h3 class="text-center">Registered</h3>
        <p class="text-center" {% if occur.registered.spacea %}
        >Available spaces: {{ occur.registered.spacea }}
      {%else%} style="color:red"> ROSTER FULL {%endif%}
    </p>

<div class="well well-sm">
      <table class="table-condensed" style="margin: 0px 0px 0px 0px; width:100%;"><tr>
        <td class="text-left container-fluid tooltip-bottom" title="{{training.skill_tooltip_title}}" style="border:none; text-align: center;"><span class="glyphicon" aria-hidden="true">Skill:<br>
        {%if training.skill %}{{ training.skill_display }}
        {%else%}<i class="{{training.skill_icon}}"></i>{%endif%}
        <td class="text-left container-fluid tooltip-bottom" title="{{occur.registered.passes_tooltip_title}}" style="border:none; text-align: center;"><span class="glyphicon" aria-hidden="true" >Pass:<br><i class="{{training.onsk8s_icon}}"></i></span></td>
        {%if occur.registered.intl %}<td class="text-center container-fluid tooltip-bottom" title="{{occur.registered.intl_tooltip_title}}" style="border:none; text-align: center;"><span class="glyphicon" aria-hidden="true">INTL:<br><i class="{{occur.registered.intl_icon}}"></i></span></td>{%endif%}
        <td class="text-left container-fluid tooltip-bottom" title="{{training.contact_tooltip_title}}" style="border:none; text-align: center;"><span class="glyphicon" aria-hidden="true">Contact:<br><i class="{{training.contact_icon}}"></i></span></td>
        </tr></table>
    </div>

      <table class="table">
              {% for form in register_forms%}
                  <form method="POST" class="post-form">
                        {% csrf_token %}
              {%for field in form %}<tr {%if form.tooltip%}style="tooltip-bottom" title="{{form.tooltip}}"{%endif%}><td style="border:none;vertical-align: middle;">
                <b>

              {% cycle 'Search' 'Eligible' 'Registered' %}
              </b></td>
                <td style="border:none;">{{ field }}</td>
                  <td style="border:none; text-align: center;">
                    <input
                    {%if not occur.registered.spacea%} {% cycle 'disabled' 'disabled' '' %} {%endif%}
                    class="btn btn-{% cycle 'primary' 'success' 'danger' %} btn-block" type="submit" method="post"
                    name="{% cycle 'search register' 'add register' 'remove register' %}" value="{% cycle 'Find' '+ Register' '- Register' %}"></td>
                </tr>{%endfor%}
              </form>
              {%endfor%}
              </table>


</div><!--end well-->
      </div><!--end col-sm-6, 12 and row still open-->


  <div class="col-sm-6">
    <div class="well well-lg">
    <h3 class="text-center">Auditing</h3>
    <p class="text-center" {% if occur.auditing.spacea %}
    >Available spaces: {{ occur.auditing.spacea }}
    {%else%} style="color:red"> ROSTER FULL {%endif%}
    </p>

<div class="well well-sm">
  <table class="table-condensed" style="margin: 0px 0px 0px 0px; width:100%;"><tr>
    <td class="text-left container-fluid tooltip-bottom" title="{{occur.auditing.skill_tooltip_title}}" style="border:none; text-align: center;"><span class="glyphicon" aria-hidden="true">Skill:<br>
      {%if occur.auditing.skill %}{{ occur.auditing.skill_display }}
      {%else%}<i class="{{occur.auditing.skill_icon}}"></i>{%endif%}
    <td class="text-left container-fluid tooltip-bottom"
{%if training.onskates%}
    title="This is an On-Skates Training. Auditor will not skate, but must have an MVP pass to Audit."
{%else%}
 title="{{occur.auditing.passes_tooltip_title}}"
 {%endif%}
    style="border:none; text-align: center;"><span class="glyphicon" aria-hidden="true" >Pass:<br><i class="glyphicon icon-shoes"></i></span></td>
    {%if occur.auditing.intl %}<td class="text-center container-fluid tooltip-bottom" title="{{occur.auditing.intl_tooltip_title}}" style="border:none; text-align: center;"><span class="glyphicon" aria-hidden="true">INTL:<br><i class="{{occur.auditing.intl_icon}}"></i></span></td>{%endif%}
    <td class="text-left container-fluid tooltip-bottom" title="Auditing a training does not include Contact" style="border:none; text-align: center;"><span class="glyphicon" aria-hidden="true">Contact:<br><i class="glyphicon icon-nocontact"></i></span></td>
    </tr></table>
      </div>

<table class="table">
{% for form in audit_forms%}
    <form method="POST" class="post-form">
          {% csrf_token %}

{%for field in form %}<tr {%if form.tooltip%}style="tooltip-bottom" title="{{form.tooltip}}"{%endif%}><td style="border:none;vertical-align: middle;">
  <b>
{% cycle 'Search' 'Eligible' 'Auditing' %}
</b></td>
  <td style="border:none;">{{ field }}</td>
    <td style="border:none; text-align: center;">
      <input
      {%if not occur.auditing.spacea%} {% cycle 'disabled' 'disabled' '' %} {%endif%}
      class="btn btn-{% cycle 'primary' 'success' 'danger' %} btn-block" type="submit" method="post"
      name="{% cycle 'search audit' 'add audit' 'remove audit' %}" value="{% cycle 'Find' '+ Audit' '- Audit' %}"></td>
  </tr>{%endfor%}
</form>
{%endfor%}
</table>

</div><!--end well-->
</div><!--end col-sm-6-->
  </div><!-- end row-->
{%endif%} <!--if audit_formlist-->

    </div><!-- end row-->

    {%endif%}<!-- If no exist -->

{% endblock %}
