<!DOCTYPE html>
{% extends 'layouts/base.html'%}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<head>
<title>{% block title %}Review Training{% endblock %}</title>
</head>


<div class="row" id="moreInfo">
    <div class="col-sm-12">
    <h3>Review <b>{{training.name}}</b> <br><i>({{ training.display_coach_names }})</i>
      <br><small>Your review is anonymous; your identity will not be shared with coaches or event organizers</small></h3>


    {%if not registrant %}
    <div class="alert alert-danger" role="alert">
    You have not have a pass for this Con on file. Please contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>or<a href="mailto:{{RC_GENERAL_ADMIN_EMAIL}}" class="alert-link"> RollerCon administrator </a>if you believe this is an error.</div>
    {%else%}

    {%if save_attempt%}
    {%if save_success%}
    <div class="alert alert-success" role="alert">Review Successfully Saved!
    {%else%}<div class="alert alert-danger" role="alert">Update Failed. Please try again later and contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>or<a href="mailto:{{RC_GENERAL_ADMIN_EMAIL}}" class="alert-link"> RollerCon administrator </a>if this keeps happening.
    {%endif%}<!-- if save success/captain conflict/criteria-->
    </div>
    {%endif%}<!-- endif save attempt-->


    {%if form1%}
    <div class="col-md-6 pull-left">
      <form method="POST" class="post-form margin-top-20">
      {% csrf_token %}
        {%for field in form1 %}
          {{ field.label }} {{ field }}
        {%endfor%}
        <button type="submit" class="btn btn-success margin-top-10"> Save Review </button>
      </form>
        </div>
      {%endif%}<!-- if form1-->

      {%if form2%}
      <div class="col-md-6 pull-right">
      <div class="well well-md">
        <h2>OPTIONAL</h2>
        <form method="POST" class="post-form">
        <table class="table table-condensed">
          {% for field in form2%}
          <tr>
          {%if field.name == "RC_Experience"%}
            <td colspan="4">{{field.label}}</td></tr>

                {% for choice in form2.RC_Experience.field.widget.choices %}
                {%if forloop.first%}
                <tr><td colspan="3">
                  <label for="">{{choice.1}}</label></td>
                <td style="text-align: center;" >
                  <input type="checkbox" name="my_choice_field" value="{{choice.0}}"
                    {% ifequal form.my_choice_field.data choice.0 %}
                       checked="checked"
                    {% endifequal %}/></td></tr>


                  {%else%}

                {%cycle "<tr>" " " %}
                    <td><label for="">{{choice.1}}</label></td>
                  <td style="text-align: center;" >
                    <input type="checkbox" name="my_choice_field" value="{{choice.0}}"
                      {% ifequal form.my_choice_field.data choice.0 %}
                         checked="checked"
                      {% endifequal %}/></td>
                 {%cycle " " "<tr>" %}

                   {%endif%}
                {% endfor %}






          {%else%}
        <td style="width:50%;" colspan="2">{{field.label}}</td><td colspan="2" style="width:50%;">{{field}}</td></tr>
        {%endif%}{%endfor%}


        </table>
            </form>
            </div><!-- end row-->
    </div><!-- end col-md-6 center-block-->
      {%endif%}<!-- end if dict.bo_list-->

</div><!-- end row-->
</div><!-- end row-->

{%endif%}<!-- if registrant-->
{% endblock %}
