<!DOCTYPE html>
{% extends 'layouts/base.html'%}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<head>
<title>{% block title %}Review Con{% endblock %}</title>
</head>


<div class="row" id="moreInfo">
    <div class="col-sm-12">

      {%if not registrant %}
      <div class="alert alert-danger" role="alert">
      Error locating your Con pass. Please contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>or<a href="mailto:{{RC_GENERAL_ADMIN_EMAIL}}" class="alert-link"> RollerCon administrator </a>if you believe this is an error.</div>
      {%else%}

    <h3>Review <b>{{con}}</b>
      <br><small>Your review is anonymous; your identity will not be shared with coaches or event organizers</small></h3>


    {%if save_attempt%}
    {%if save_success%}
    <div class="alert alert-success" role="alert">Review Successfully Saved!
    {%else%}<div class="alert alert-danger" role="alert">Update Failed. Please try again later and contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>or<a href="mailto:{{RC_GENERAL_ADMIN_EMAIL}}" class="alert-link"> RollerCon administrator </a>if this keeps happening.
    {%endif%}<!-- if save success/captain conflict/criteria-->
    </div>
    {%endif%}<!-- endif save attempt-->

    <form method="POST" class="post-form margin-top-20">
    {% csrf_token %}

    {%if form1%}
    <div class="col-md-6 pull-left">
      <b>How satisfied are you with...</b><br>
        {%for field in form1 %}
        {%if field.errors%}<li style="color: red;">{{ field.errors }}</li>{%endif%}
          {{ field.label }} {{ field }}
        {%endfor%}
        </div>
      {%endif%}<!-- if form1-->

      {%if form2%}
      <div class="col-md-6 pull-right">
      <div class="well well-md">
        <h2 style="text-align:center;"><i>Optional</i></h2>
        <table class="table table-condensed">
          {% for field in form2%}
          <tr>
            {%if field.name == "comments_text"%}
              <td colspan="4">{{field.label}}</td></tr><tr><td colspan="4">{{field}}</td></tr>

          {%elif field.name == "RC_Experience"%}
            <td colspan="4">{{field.label}}</td></tr>
                {% for choice in form2.RC_Experience.field.widget.choices %}
                {%if forloop.first%}
                <tr><td colspan="3" style="text-align:center;">
                  <label for="">{{choice.1}}</label></td>
                <td style="text-align: left;" >
                  <input type="checkbox" name="my_choice_field" value="{{choice.0}}"
                    {% ifequal form.my_choice_field.data choice.0 %}
                       checked="checked"
                    {% endifequal %}/></td></tr>

                  {%else%}

                {%cycle "<tr>" " " %}
                    <td style="text-align:right;"><label for="">{{choice.1}}</label></td>
                  <td style="text-align: left;" >
                    <input type="checkbox" name="my_choice_field" value="{{choice.0}}"
                      {% ifequal form.my_choice_field.data choice.0 %}
                         checked="checked"
                      {% endifequal %}/></td>
                 {%cycle " " "<tr>" %}

                   {%endif%}
                {% endfor %}
          {%else%}
        <td style="width:50%;" colspan="2">{{field.label}}</td><td colspan="2" style="width:50%;">{{field}}</td></tr>
        {%endif%}{%endfor%}
        </table>
      </div><!-- end well-->
    </div><!-- end col-md-6 center-block-->
      {%endif%}<!-- forgot if form2-->

</div><!-- end row-->

</div><!-- end row-->
<button type="submit" class="btn-lg btn-success center-block margin-top-20"> Save Review </button>
</form>


{%endif%}<!-- if registrant-->
{% endblock %}
