<!DOCTYPE html>
{% extends 'layouts/base.html'%}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<head>
<title>{% block title %}View Coach{% endblock %}</title>
<!-- Custom style for helper viewport this template -->
<link href="{% static "css/tooltip-viewport.css"%}" rel="stylesheet">
</head>

<div class="row" id="moreInfo">

<div class="col-sm-12">

  {%if not coach %}
    <div class="alert alert-danger" role="alert">This Coach does not exist. Please contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>if you believe this is the result of an error.</div>
  {%else%}


  <div class="panel panel-default margin-top-15">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2 class="text-center">{{coach.user.first_name}}
      {%if user.is_the_boss%}<a href="{{coach.get_my_schedule_url}}">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true" ></span>
      </a>{%endif%}
      {%if coach.can_email%}
      {% url 'email_coach'  coach.id as email_url %}
      <br><small><a href="{{email_url}}">email coach</a></small></h2>{%endif%}
    </div>
    <div class="panel-body"><h2 style="text-align: justify;">
      <small>{%if coach.description %}{{coach.description}}{%else%}<i>Coach has not provided a description</i>{%endif%}</small></h2>
    </div>

    <table class="table table-striped">
    <tr><th>Current and Past Trainings</th><th class="text-right">Con</th></tr>
      {%for training in coach.training_set.all%}
      <tr><td><a href="{{training.get_view_url}}">{{ training.name }}</a></td><td class="text-right">{{training.con}}</td></tr>{%endfor%}
    </table>
  </div>

  {%endif%}<!-- If no exist -->
</div><!-- end col-sm-6-->
</div><!-- end row-->

{% endblock %}
