
/*
margin-top tip from http://stackoverflow.com/questions/10085723/twitter-bootstrap-add-top-space-between-rows
*/
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

/*
after-header from http://stackoverflow.com/questions/21171500/getting-a-bootstrap-css-list-group-to-take-up-the-entire-width-of-a-mobile-app-p
*/
.after-header { padding:50px 0px; }

/*
anchor from https://pixelflips.com/blog/anchor-links-with-a-fixed-header
*/
.anchor{
  display: block;
  height: 80px; /*same height as header*/
  margin-top: -80px; /*same height as header*/
  visibility: hidden;
}
.my-footer {
  height: 80px; /*same height as header*/
  background: none;
}
