.center { text-align : center; }

.header_calendar {background-color: #ddd;}
a.plain { text-decoration: none; }

.errorlist { color: #af0917; font-weight: bold; }
.form-errors { background: #baa; padding: 1em 4px; text-align: center; font-weight: bold; color: #af0917;}
.form-indent { margin-left: 2.5em; }
.horizontal { width: 30em; }
    .horizontal li { float: left; margin: 0; }
    .horizontal li label { width: 4em; display: block; float: left; }
#recurrence-options { float: left; margin-left: 1em; }
    #recurrence-options li { margin-bottom: 4px; }
.calendar { width: 100%; }
    .calendar td, .calendar th { width: 20%; padding: 4px; }
.month-view { width: 100%; }
.month-view td { vertical-align: top; height: 10em; }
    .month-view td, .month-view th { width: 14.285%; }
    .month-view .day-ordinal { font-weight: bold; font-size: 1.1em; text-align: right; }
    .month-view ul { margin: 1px 2px; padding: 0; padding-left: 1em; }
    .month-view li { font-size: .9em; }
    .month-view .today { background-color: #eed; }
    .month-view .event-times {  }
.month-divider th, .month-divider td { border-top: 3px solid #8e8f80; }
.evt-spc-odd, .evt-spc-even  { background-color: #3b5153; color: #fff; }
    .evt-spc-odd a, .evt-spc-even a { color: #fff; }
    .evt-open-even, .evt-open-odd { background-color: #ccd; }
    .evt-adv-odd, .evt-adv-even { background-color: #cdd; }
    .evt-bgn-even, .evt-bgn-odd { background-color: #dd8; }
    .evt-bbc-odd, .evt-bbc-even { background-color: #aaa; }
    .evt-prv-odd { background-color: #8a9; }
    .evt-prv-even { background-color: #acb; }

.swingtime-table {border-collapse: collapse; border-spacing: 0;}
.swingtime-caption, .swingtime-th, .swingtime-td {text-align: left; }
.swingtime-th, .swingtime-td { padding: 4px; border: 1px solid #eee; }
.swingtime-th { font-weight: bold; }
.swingtime-ul, .swingtime-ol { margin-left: 2em; }

.swingtime-dt { font-weight: bold; }
.swingtime-dd { margin-bottom: .5em; }
.swingtime-form table { width: 100%; border: 1px solid #aaa; }
    .swingtime-form table ul { margin: 0; padding: 0;}
    .swingtime-form table li { list-style-type: none; margin-bottom: .5em; }
    .swingtime-form table th, form table td { padding: 8px; }
    .swingtime-form table th { text-align: right; width: 10em; }
    .swingtime-form tfoot td { text-align: center; }
    .swingtime-form input[type="text"] { padding: 2px 4px; border-radius: 2px; border: 1px solid #ccc; }
