<!DOCTYPE html>
{% extends 'layouts/base.html'%}
{% load staticfiles %}
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
{% load i18n %}


  {% block content %}
<html>
    <head>
        <title>{% block title%} WTF is going on? (FAQ){% endblock %}</title>
    </head>
<body>

{%if user.is_a_boss %}

    <h1>WTF is going on?</h1>
      <p class="lead blog-description">This is where I try to predict the questions you'll have and tell you how the site works.</p>
      <p>&nbsp;</p>

      <div class="row">
              <div class="col-sm-12 blog-main">
<h3>FAQ</h3>
<ul>
<li><a href="#whocansee">Who can see this page?</a></li>
<li><a href="#whatedit">What can I edit and what should I never touch?</a></li>
<li><a href="#whatnewcon">What happens when I add a new Con? Which fields are automatic and which do I need to populate?</a></li>
<li><a href="#exportexcel">How do I download excel sheets of DB data? What's with the Import and Export buttons on the Admin?</a></li>
<li><a href="#HowIaddChal">Is there a way for me to enter Challenges or Rosters without the hassle of captains and accepting and stuff?</a></li>
<li><a href="#howchangeemail">How do I change someone's email address?</a></li>
<li><a href="#howchangename">What do I need to know about changing someone's name?</a></li>
<li><a href="#howINTLREG">How do I make a Registrant INTL?</a></li>
<li><a href="#howINTLTR">How do I make a Training INTL?</a></li>
<li><a href="#howRegTr">How do I sign people up for Training classes?</a></li>
<li><a href="#INTLCAP">What's the deal with signing people up for INTL classes? The numbers are weird.</a></li>
<li><a href="#hownewattendee">How do I input new Registrants (Attendees)?</a></li>
<li><a href="#howdloccur">Is there a way to get an excel version of the schedule now with details like the one we used to download from Google?</a></li>
<li><a href="#dbbackup">How often does the database get backed up?</a></li>
<li><a href="#futurebreak">Is there anything about RollerTron that you expect to break in the future?</a></li>
<li><a href="#howcontactyou">I'm still confused. How can I contact you?</a></li>
</ul>
<h3>&nbsp;</h3><hr>


<p><img class="img-responsive" style="padding: 10px 10px 10px 10px;" src="{% static "images/khaleesibloodridercrop.png" %}" width="462" height="330" align="right" /></p>
<span class="anchor" id="whocansee"></span>
<p><b>Who can see this page?</b></p>
<p>In order to see this page you need to be either the Khaleesi herself or one of her trusted <a href="http://m.westeros.org/index.php/Bloodrider">Bloodriders</a>.
  <small style="font-size: 11px;">Yes I know Missandei is not a bloodrider, but doesn't Bacon look lovely in her dress?</small>
</p>
<p>&nbsp;</p><hr>

<span class="anchor" id="whatedit"></span>
<p><b>What can I edit and what should I never touch?</b></p>
<p>In the <a href="{%url 'admin:index' %}">Admin</a> section you'll see a lot of objects, like:
  <ul><li>Groups</li><li>Users</li><li>Registrants</li><li>Etc...</li></ul>
Please never touch <b>Groups</b> or <b>Site</b>.<br>
You can edit <b>Users</b> but don't create any Users, they are automatically created when a new <b>Registrant</b> gets made.
Basically every real human being gets one User, which can hold several Registrants. For example, if Michela Dai Zovi aka Dahmernatrix goes to RollerCon every year,
every time you add a new Registrant (ie Dahmer's MVP pass in 2015, Dahmer's Skater pass in 2016, etc) with the same email address as one before (mdaizovi@gmail.com), it gets added to the User associated with that email address.<br>
Coaches are also connected to their Registrants through the User, which is how I had to do it do they wouldn't have to update their bio every year, and so their page would show all of their classes, not just one year's worth.<br>
It would be possible to manually connect registrants with different email addresses, like if someone changes their email address, but lets pretend it's impossible and encourage them to use the same email address always.
</p>
<p>&nbsp;</p><hr>

<span class="anchor" id="whatnewcon"></span>
<p><b>What happens when I add a new Con? Which fields are automatic and which do I need to populate?</b></p>
<p>The following fields will auto-populate after the first time you save a Con:
  <ul>
    <li><b>city</b> (Las Vegas, unless you specify otherwise)</li>
    <li><b>state</b> (Nevada, unless you specify otherwise)</li>
    <li><b>country</b> (USA, unless you specify otherwise)</li>
    <li><b>year</b> (Year of Con. It takes this from the start date)</li>
    <li><b>challenge_submission_start</b> (1st day of month, 4 months prior to Con. A Con that starts in July will always have a Challenge Submission Date of March 1)</li>
    <li><b>training_submission_end</b> (15th day of month, 2 months prior to Con. A Con that starts in July will always have a Training Submission End Date of May 15)</li>
    <li><b>hoursb4signup</b> (default is 2) This is how many hours before a Training's start that MVPs can be registered for it by a Volunteer.</li>
    <li><b>morning_class_cutoff</b> (default is 9:30am) If a Training is scheduled to happen before this time, a Volunteer can register people for it the day before the Training is scheduled.</li>
    <li><b>dayb4signup_start</b> (default is 9:30pm) This is the <i>time</i> a Volunteer can start registering people for tomorrow's early morning class.</li>
    <li><b>hotel_book_link</b> For the home landing page. Always <a href="http://rollercon.com/register/hotel-reservations/">http://rollercon.com/register/hotel-reservations/</a> unless otherwise specified </li>
    <li><b>ticket_link</b> For the home landing page. Always <a href="http://rollercon.com/register/rollercon-pass/">http://rollercon.com/register/rollercon-pass/</a> unless otherwise specified </li>
</ul>
Just remember to look at the Con after you save it to see if you agree with these things, and change them if you don't.
<br>Things that you need to remember to fill out yourself:
<ul>
    <li><b>start</b> (Start Date of Con)</li>
    <li><b>end</b> (End Date of Con)</li>
    <li><b>venue</b> (Venue where it's held. Might need to make a new one by clicking on little green + button near Venue field when making Con in the Admin)</li>
  </ul>
  Things that you will change when ready:
  <ul>
        <li><b>sched_visible</b> (Will make the Schedule visible on main Challenge/Training pages</li>
        <li><b>sched_final</b> (Scheduled Challenges/Trainings can't be unsubmitted)</li>
      </ul>
It's okay to never touch the BPT_event_id. That was meant to direct people directly to the BPT ticket buying page, but now it does nothing.
</p>
<p>&nbsp;</p><hr>

<span class="anchor" id="exportexcel"></span>
<p><b>How do I download excel sheets of DB data? What's with the Import and Export buttons on the Admin?</b></p>
<ul>
<li>Go to the Admin section of the thing you'd like a report of, for example <a href="/admin/scheduler/challenge/">Challenges</a>.</li>
<li>Ignore the grey <b>Import</b> button; I wish I could make them go away but I can't include the Export function without them.</li>
<li>Click the grey <b>Export</b> button.
  <li>On the next page, choose a format from the dropdown and click Submit (right side, blue button).<b> XLSX</b> is the best. XLS doesn't always work and CSV might just give you 1 column separated by commas.</li>
  <li>A file with the name of the thing you exported, plus the date (ex: Challenge-2016-05-09), will get downloaded to your My Downloads folder. That's it!</li></ul>
<p>&nbsp;</p><hr>


<span class="anchor" id="HowIaddChal"></span>
<p><b>Is there a way for me to enter Challenges or Rosters without the hassle of captains and accepting and stuff?</b>
<p>Yes.
  <ol><li>Make sure the target captains already exist as a Registrants, or <a href="/admin/con_event/registrant/">make the Registrants in the Admin</a>.
    <br><b>IMPORTANT:</b> Make sure you are choosing the Registrant for the right year. As you know, many captains come every year and weird things could happen if Dahmer 2015 is captaining a 2016 team.</li>
    <li><a href="/admin/scheduler/challenge/">Make a Challenge in the Admin</a> (little grey "add challenge +" oval in the right hand corner).</li>
      <li>Where it says <b>Roster1</b> and <b>Roster2</b>, click on the little green + sign to make a new roster. Do this even if you're making a new Challenge for an existing team, because DB-wise, every new Challenge gets a Roster (that way they can have different skaters, wear different colors, etc, per challenge)
    <li>Check both acceptance boxes (<b>Captain1accepted</b> and <b>Captain2accepted</b>)</li>
    <li>You don't need to touch <b>Created on</b>, that is automatically generated the first time it's saved,
      but you do need to give it a <b>Submitted on</b> time and date in order for it to count as submitted. Just click Now and Today, and then edit later if you want it to be set at a different time/date. That way you know the time/date will be in the right format.</li>
      <li>Choose a <b>Gametype</b>. If you choose "30 or 60 minute Challenge" RollerTron's scheduling arm will assume you want it to be 30 minutes long. If you know you want it to be 60 minutes long, choose "60 minute Challenge." If you choose 60 minute Regulation/Sanctioned game, the captain won't be subjec tot the same maximum roster limit as funzies challengea are.</li>
        <li>Save. The next time the captains log in to RollerTron they'll see the same thing everyone else sees when they've completed the whole acceptance/submission process.</li>
      <li><i><b>TIP: </b>You can also do this as to make placeholder-challenges, if you want to scheudle but aren't sure who the team is going to be. Just make a Challenge with yourself or some other trusted RC staff as captains,
        and when you know the correct captian/color/name data, <a href="/admin/scheduler/roster/">edit the Rosters you made through the Admin</a>.</i></li></ol>
  <p>&nbsp;</p><hr>


<span class="anchor" id="howchangeemail"></span>
<p><b>How do I change someone's email address?</b></p>
<ol><li><a href="/admin/auth/user/">Find the User in the Admin</a>, by <b>old</b> email address.</li>
  <li>Change the User email address <b>and</b> Username. It's best if we remain consistent and just keep them the same.</li>
  <li><a href="/admin/con_event/registrant/">Find the Registrant in the Admin</a>.</li>
    <li>You should see that the User field now displays the <b>new</b> email address. Change the Registrant email as well, for consistency.</li>
    <li>Save. Do it this way and they won't have to reset their password, just log in with the new email address as their username.</li></ol>
<p>The reason why I want you to do it this way is because if you only change the Registrant email address and remove the old User, a new User will be created,
  and it will be confusing for them when they forget they changed their email address and log in with their old one, and can't find any of their pass data.
  <br>The homeless User could also be confusing for an Admin someday.</p>
<p>&nbsp;</p><hr>

<span class="anchor" id="howchangename"></span>
<p><b>What do I need to know about changing someone's name?</b></p>
<p>This is pretty easy, you just need to know that these things need to be unique together:
  <ul><li>Con</li><li>First Name</li><li>Last Name</li><li>Skate Name</li></ul>
  So there can be two Angela Parrills at the same Con but they can't both skate as Leggs n Bacon.
  Or there can be to Leggs n Bacons, but they can't both be named Angela Parrill.
  And if there is a doppelganger Leggs n Bacon who is also named Angela Parrill, she can't come to the same Con as the one we all know and love.<br>
Also, I strip out non-ascii characters like accents and umlauts, as well as punctuation. So no point putting those in.</p>
<p>&nbsp;</p><hr>


<span class="anchor" id="howINTLREG"></span>
<p><b>How do I make a Registrant INTL?</b></p>
<p>People become INTL in 1 of 3 ways.
<ol><li>If we know their country and if the Registrant's country is a country other than the Con they're registered for (probably always US, but I don't want to limit you!)</li>
  <li><b>or</b> if we know their state <b>and</b> that state is AK,HI or AP, then they are INTL automatically when they are saved.
    <br><i>Note: This will not work properly if you ever hold a RollerCon in Hawaii, Alaska, or on a military base.</i>
    <li><b>Or</b> an admin like you can make them INTL and it'll trust your judgement. In that case we don't need to know their county/state</li>
      <li>Save.</li></ol>
<p>&nbsp;</p><hr>

<span class="anchor" id="howINTLTR"></span>
<p><b>How do I make a Training INTL?</b></p>
<p>Because a Training can be offered several times and might not be INTL each time, you make a training INTL through the Occurrence TrainingRoster that you want to be INTL.<br>
  The Occurrence TrainingRoster doesn't automatically exist for every Training or Occurrence, it only gets created the first time someone looks at that individual Training page or through the Admin.<br>
  (this is so the DB won't get clogged up with TrainingRosters for classes that no one ever gets signed up for, like off-skates seminars)</p>
<p>To make the Registration or Auditing TrainingRoster through the <a href="/admin/swingtime/occurrence/">Occurrence Admin</a>:
<ol><li>Find the right Occurrence (the training you want at the time that you want)</li>
  <li>Check to see if the TrainingRosters have already been made. If you see 2 skinny rows that say "Training Rosters" and "Intl / Skill / Cap / Participants / Delete?" with not much in it, you need to click the green button to make one (more on that in a minute.)<br>
    If you see a lot of shit, including 2 big boxes that say "Available Participants" and "Chosen Participants", then the TrainingRoster exists already.</li>
  <li><b>If you need to make a TrainingRoster because it does not exist,</b> click the first green + "Add another Training roster" button. The 2 big  "Available Participants" and "Chosen Participants" boxes will pop up.</li>
    <li>Find the part on the left that says, "Intl", find the little dropdown under that, and choose "Yes"</li>
  <li>Save.</li></ol>
<p>&nbsp;</p><hr>

<span class="anchor" id="INTLCAP"></span>
<p><b>What's the deal with signing people up for INTL classes? The numbers are weird</b></p>
<p>If a Registered TrainingRoster is marked as INTL, then the Auditing TrainingRoster will allow a lot more people to sign up-- basically it'll borrow spaces from the Registration roster.<br>
  You still need to be INTL to be signed up for the INTL Registration TrainingRoster, but anyone can sign up for the Auditing TrainingRoster, and that's the roster of people that may or may not be allowed to skate during the training, if the Coach allows.<br>
  So that's why the numbers are weird, because the Auditing Capacity is actually borrowing spots from the Registered TrainingRoster:<br>( (Registration Capacity-people registered)+(Audit Capacity-people auditing) )
  <br>When adding people on the Registration TrainingRoster, if some of its spots have been taken by the Auding TrainingRoster, the number of spots will be diminished.<br>
  It may look like it's screwy, but odds are it's not. You'll get the hang of it.
</p>
<p>&nbsp;</p><hr>

<span class="anchor" id="howRegTr"></span>
<p><b>How do I sign people up for Training classes?</b></p>
<p>
  When the schedule is marked visible anyone (whether logged in or not) can access Trainings from the <a href="/scheduler/trainings/">main Training home page</a>.<br>
Find the right Training and follow link to its page. There's a lot of magic embedded everywhere that you only see if you're the right person supposed to see it. Basically:
<ul>
  <li>Everyone can see the basic training info (coach, description, skill, etc)</li>
  <li>If the schedule for that Con is Visible and the Training is scheduled (has an Occurrence object) it will say where/when, and under the Scheduled Session header, each Occurrence has a dropdwon with the option: See Session Roster.
    Otherwise, it says that this event is not scheduled or the schedule is not available.</li>
  <li> If the User is logged in and is the Coach of the Training or is a Khaleesi or Blood Rider, they can see a green "Edit Training" button.
  <li>If the User is logged in and is a Volunteer or a Khaleesi or Blood Rider, if they click on the dropdown and assosciated with the Occurrance (the thing that says when/where it'll be)
    and in addition to "See Session Roster" they will see "Register MVPs". If it's too early (as dictated by the 3 fields set in the Con: (hoursb4signup, morning_class_cutoff, and dayb4signup_start)
    following that link will just tell them to come back when it's the right time.
    A Khaleesi or Blood Rider can register people at any time, but their names will only be visible on the Training page after the registration window is open.</li>
  </ul>
The Registration/Audit buttons work exactly like signing people up for Challenges-- you can only find the skater if they're in the system and eligible by skill and pass.
</p>


<p>&nbsp;</p><hr>


<span class="anchor" id="hownewattendee"></span>
<p><b>How do I input new Registrants (Attendees)?</b></p>
<p>If you're the Khaleesi you can <a href="{% url 'upload_reg' %}">import the BPT report</a> as is.
  Please note that this importer is written based on exactly how the BPT reports looked in 2016, so if that ever changes you need to move the columns around, use the same header, and format the data so that it looks just like it did in 2016.</p>
<p>Otherwise, you can <a href="/admin/con_event/registrant/">add new Registrants through the Admin</a>. On the top right of the screen, under the blue bar you should see a little grey <b>Add registrant</b> button.<br>Please note that you have to input email, first_name, and last_name. Sk8name and Sk8number are optional,
  but if they do have a sk8number please enter it because that becomes their User display name forever. If they don't have one, like if they are a vendor, their first name will be the display name.</p>
<p>&nbsp;</p><hr>

<span class="anchor" id="howdloccur"></span>
<p><b>Is there a way to get an excel version of the schedule now with details like the one we used to download from Google?</b></p>
<p><a href="/admin/swingtime/occurrence/">Yes.</a><br>
Go to the upper right, where there are 3 grey ovals, and click the one that says "Export".<br>
The bad news is the only way for me to make it let you choose which ones to download ahead of time is to put the "export selected occurrences" in the same dropdown as "delete selected occurrences", which to me feels like sleeping with a loaded gun under your pillow, so you have to download all of them, find where the relelvant Con starts, and delete everything (on the excel sheet) that's for the wrong con.
</p>
<p>&nbsp;</p><hr>



<span class="anchor" id="dbbackup"></span>
<p><b>How often does the database get backed up?</b></p>
<p>The db gets backed up on the 7th and 21st of every month (dates chosen to avoid happening during a Con), via a scheduled task on the host (PythonAnywhere).<br>
It's stored along with the site files, in a folder called 'backup'.</p>
<p>&nbsp;</p><hr>


<span class="anchor" id="futurebreak"></span>
<p><b>Is there anything about RollerTron that you expect to break in the future?</b></p>
<p>RollerTron was built with the expectation that it will be used for many years, and it can even handle more than 1 upcoming Con, or Cons in different locaitons, like one in Colombia in November to shortly follow the usual July in Vegas.<br>
HOWEVER the time zone is hard-coded to Las Vegas time. RollerTron will need to have some parts rewritten in the future by someone who knows what they're doing if you have a Con in a different time zone.</p>
<p>&nbsp;</p><hr>

<span class="anchor" id="howcontactyou"></span>
<p><b>I'm still confused. How can I contact you?</b></p>
<p>You can either email<a href="mailto:rcregsite@gmail.com"> the Secret, REAL RCregsite email</a>, but I don't check it that often. Better to use <a href="mailto:mdaizovi@gmail.com"> my personal email address.</a>
<br>My Google Voice number will probably never change and that's <a href="tel://1-262-477-9684"> 262-477-9684 (262 4ss zovi, like my name with ass in it)</a>.
</p>
<p>&nbsp;</p><hr>


  </div><!-- row-->
    </div><!-- col-sm-8 blog-main -->

{%else%}
<div class="alert alert-danger" role="alert">
  You have not have permission to see this page. Please contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>or<a href="mailto:{{RC_GENERAL_ADMIN_EMAIL}}" class="alert-link"> RollerCon administrator </a>if you believe this is an error.</div>
{%endif%}

{% endblock %}
