{% extends "swingtime/swingtime_base.html" %}
{% block title %}Unscheduled Activities{% endblock %}


{% block main_content %}
<div class="row">

    <h3 class="margin-top-10 text-center">Un-Scheduled Activities</h3>
  <table style="width:100%;"><tr><td style="border: none; text-align:center;"><h3><small>These Challenges & Trainings have been approved, but <b>not</b> scheduled for {{con}}</small></h3></td>

<td style="border: none; text-align:left;">
      <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Other Cons
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {%for item in con_list%}
        {% url 'act_unsched' item.pk as unsched_url %}
        <li role="presentation"><a href="{{unsched_url}}">{{item}}</a></li>{%endfor%}
      </ul>
    </div>
</td></tr></table>
<hr>


<!-- <h3 class="text-center">Trainings that want to be cloned (more than 1 session) will probably go here</h3>
<hr>-->


<!-- <ol class="breadcrumb">
  <li><a href="#">Select Unscheduled</a></li>
  <li><a href="#">Set Interest</a></li>
  <li class="active">Approve Timeslots</li>
</ol>-->

{%if added2schedule and save_attempt and save_success %}
<div class="alert alert-success" role="alert">{{added2schedule|length }} Activities/Occurrences successfully saved!</div>
{%elif save_attempt and not save_success %}
<div class="alert alert-danger" role="alert">Error saving Activities/Occurrences </div>
{%endif%}



{%if activities%}
{%for od_list in activities %}
<form method="POST" class="post-form margin-top-10">
{% csrf_token %}
  <div class="col-sm-6 margin-top-10">
      <h3 class="text-center"><table style="width:100%;"><tr><td style="text-align:left;">
        {%cycle "Challenges" "Trainings" %} </td><td><small style="font-size: 12px;"><i>{%cycle "" "*Incl multiple session" %}</i></small></td>
        <td style="text-align:right;"><button type="submit" name="Auto_{%cycle 'Chal' 'Train' %}" class="btn btn-sm btn-primary">Auto Schedule {%cycle "Challenges" "Trainings" %}</button>
      </td>
      <td style="text-align:center; font-size: 12px;"><b>Create<br>Timeslots:</b><br>{{slotcreateform.slot_create}}</td>
    </tr></table></h3>

<table class="table table-striped">
  <tr><th style="width:20px;text-align: center;">Auto<br>Schedule</th><th style="vertical-align: middle;">{%cycle "Challenge" "Training" %}</th><th style="vertical-align: middle;">Type</th>
    <th style="text-align: center; vertical-align: middle;max-width:75px;">Interest</th><th style="text-align: center; vertical-align: middle;">Blackouts</th></tr>

{%if od_list|length > 0%}
  {%for od in od_list%}
<tr>
<td>{{od.check_form.act}}</td>
  <td>
    <a href="{{od.act.get_view_url}}">{{od.act.name}}</a></td>
    <td style="max-width:125px;">{{ od.act.get_activity_type }}{%if od.act.is_a_challenge %}, {{od.act.skill_display}}, {{od.act.gender_display}}{%endif%}</td>
      <td style="max-width:75px;text-align: center;">{%if od.act.interest %}{{ od.act.interest }}{%else%}?{%endif%}</td>
  <td style="text-align: center; max-width:75px;"><a href="{{od.act.get_sched_assist_url}}">{{od.score}}</a></td>
</tr>
{%endfor%}

{%else%}<!-- if od_list len not greater than 0-->
<tr><td colspan="5" style="text-align:center;"><i>None found</i></td></tr>
{%endif%}

</table>



</div><!-- end col-sm-6-->
</form>
{%endfor%}

{%else%}<!-- if not activities, like if not a post-->


<form method="POST" class="post-form margin-top-10">
{% csrf_token %}
{%if level1pairs%}
<h4 class="margin-top-10">Suggested Matches</h4>
<table class="table table-striped">
  <tr><th>Activity</th><th>type</th><th>Occurrence</th><th>Location</th><th>Match Level</th><th style="text-align: center;">Save?</th></tr>
{%for tup,form in  level1pairs.iteritems%}
<tr><td>{{tup.0.name}}</td><td>{{ tup.0.get_activity_type }}{%if tup.0.is_a_challenge %}, {{tup.0.skill_display}}, {{tup.0.gender_display}}{%endif%}</td>
<td>{{ tup.1.start_time|date:"D d" }} : {{ tup.1.start_time|date:"f a" }} - {{ tup.1.end_time|date:"f a" }}</td>
<td>{%if tup.1.location.abbrv%}{{ tup.1.location.abbrv}}{%else%}{{ tup.1.location}}{%endif%}</td>
<td>{{tup.2}}</td>
<td>{{form.add2sched}}</td></tr>
{%endfor%}
</table>
{%endif%}<!-- if level1pairs-->

<button type="submit" name="save schedule" class="btn btn-lg btn-success center-block">Save Schedule Suggestions</button>
</form>
{%endif%}<!-- if activities-->

</div><!-- end row-->
{% endblock %}
