{% extends "swingtime/swingtime_base.html" %}
{% block title %}Unscheduled Activities{% endblock %}


{% block main_content %}
<div class="row">

    <h3 class="margin-top-10 text-center">Un-Scheduled Activities</h3>
  <table style="width:100%;"><tr><td style="border: none; text-align:center;"><h3><small>These Challenges & Trainings have been approved, but <b>not</b> scheduled for {{con}}</small></h3></td>

<td style="border: none; text-align:left;">
      <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Other Cons
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {%for item in con_list%}
        {% url 'act_unsched' item.pk as unsched_url %}
        <li role="presentation"><a href="{{unsched_url}}">{{item}}</a></li>{%endfor%}
      </ul>
    </div>
</td></tr></table>
<hr>
<h3 class="text-center">Trainings that want to be cloned (more than 1 session) will probably go here</h3>
<hr>

{%for od in activities %}
  <div class="col-sm-6 margin-top-10">
      <h3 class="text-center">
        {%cycle "Challenges" "Trainings" %}</h3>
<table class="table table-striped">
  <tr><th>{%cycle "Challenge" "Training" %} </th><th style="text-align: center;">Blackouts</th></tr>
  {%for k, aq in od.iteritems%}
  {%for a in aq%}
<tr><td><b>{{forloop.counter}}.</b>
    <a href="{{a.get_view_url}}">
    {{a.name}}</a></td>
  <td style="text-align: center;"><a href="{{a.get_sched_assist_url}}">{{k}}</a></td>
</tr>
{%endfor%}
{%endfor%}
</table>
</div><!-- end col-sm-6-->
{%endfor%}


</div><!-- end row-->
{% endblock %}
