{% extends "swingtime/swingtime_base.html" %}
{% block title %}Scheduled Activities{% endblock %}


{% block main_content %}
<div class="row">

    <h3 class="margin-top-10 text-center">Scheduled Activities</h3>
  <table style="width:100%;"><tr><td style="border: none; text-align:center;"><h3><small>These Challenges & Trainings have been <b>approved</b> and <b>scheduled</b> for {{con}}</small></h3></td>

<td style="border: none; text-align:left;">
      <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Other Cons
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {%for item in con_list%}
        {% url 'act_sched' item.pk as sched_url %}
        <li role="presentation"><a href="{{sched_url}}">{{item}}</a></li>{%endfor%}
      </ul>
    </div>
</td></tr></table>
<hr>


{%for aq in activities %}
  <div class="col-sm-6 margin-top-10">
      <h3 class="text-center">
        {%cycle "Challenges" "Trainings" %}: {{ aq.count }}</h3>
<table class="table table-striped">
  <tr><th>{%cycle "Challenge" "Training" %} </th><th>Who</th><th>When</th><th>Where</th></tr>
  {%for a in aq%}
<tr><td><b>{{forloop.counter}}.</b>
    {%if a.challenge%}<a href="{{a.challenge.get_view_url}}">
    {%elif a.training%}<a href="{{a.training.get_view_url}}">{%endif%}
    {{a.name}}</a></td>
    <td>{{ a.activity.get_figurehead_display}}</a></td>
  <td><a href="{{a.get_absolute_url}}">{{ a.start_time|date:"D M d f a" }}</a></td>
  <td>{%if a.location.abbrv%}{{a.location.abbrv}}{%else%}{{a.location}}{%endif%}</td></tr>
{%endfor%}
</table>
</div><!-- end col-sm-6-->
{%endfor%}

</div><!-- end row-->
{% endblock %}
