{% extends "swingtime/swingtime_base.html" %}
{% block title %}Add Event{% endblock %}


{% block main_content %}
    <h3 class="margin-top-10">Add Event</h3>

    {%if save_success %}
    <div class="alert alert-success" role="alert">{{occurrence.name}} successfully saved!</div>
    {%if occurrence%}
    {% with occurrence.start_time as st  %}
    <a href="{% url 'swingtime-daily-view' st.year st.month st.day %}">
     <i>Go back to {{ st|date:"l, F jS" }} Day View</i></a>
         &ndash; <a href="{{ occurrence.event.get_absolute_url }}"><i>Add more Occurrences for {{occurrence.name}}</i></a>
   </h4>
   {% endwith %}{%endif%}
    {%endif%}

  {% include "swingtime/conflict_part.html" %}

    {{ event_form.non_field_errors }}
    {{ single_occurrence_form.non_field_errors }}

    <form method="post" action="">
        {% csrf_token %}
    <table class="swingtime-table">
        <tfoot>
            <tr>
                <td colspan="2" class="swingtime-td">
                  <input type="submit" name="check" value="Check Schedule" />

                  {%if conflict or conflict_free%}<input type="submit" name="save" value="Save" />
                  {%endif%}

                </td>
            </tr>
        </tfoot>
        <tbody>
        {% include "swingtime/event_form_part.html" %}
        {% include "swingtime/single_occurrence_form_part.html" %}


        </tbody>
    </table>
    </form>

{% endblock %}
