{% extends "swingtime/swingtime_base.html" %}
{% block title %}Add Event{% endblock %}


{% block main_content %}
    <h3 class="margin-top-10">Add Event</h3>

    {%if save_success %}
    <div class="alert alert-success" role="alert">{{occurrence.title}} successfully saved!</div>
    {%if occurrence%}
    {% with occurrence.start_time as st  %}
    <a href="{% url 'swingtime-daily-view' st.year st.month st.day %}">
     <i>Go back to {{ st|date:"l, F jS" }} Day View</i></a>
         &ndash; <a href="{{ occurrence.event.get_absolute_url }}"><i>Add more Occurrences for {{occurrence.title}}</i></a>
   </h4>
   {% endwith %}{%endif%}
    {%endif%}


    {%if conflict %}

    <div class="alert alert-danger" role="alert">Scheduling this would cause the following conflicts:<br>
      {%if conflict.participant_conflict%}<b>Participation</b>
      <ul>{%for k,v in conflict.participant_conflict.iteritems%}
      <li>{{k.name}}: {%for s in v%}{% if not forloop.first %}, {% endif %}{{ s.sk8name }} {%endfor%}</li>{%endfor%}
      {%endif%}</ul>

      {%if conflict.figurehead_conflict%}<b>Figurehead (Captains/Coaches) Participation</b>
      <ul>{%for k,v in conflict.figurehead_conflict.iteritems%}
      <li>{{k.name}}: {%for s in v%}{% if not forloop.first %}, {% endif %}{{ s.sk8name }} {%endfor%}</li>{%endfor%}
      {%endif%}</ul>

      {%if conflict.blackout_conflict%}<b>Figurehead (Captains/Coaches) Blackouts</b>
      <ul>{%for k,v in conflict.blackout_conflict.iteritems%}
      <li>{{k.sk8name}}: {%for b in v%}{% if not forloop.first %}, {% endif %}{{b.date}} ({{b.ampm}}) {%endfor%}</li>{%endfor%}
      {%endif%}</ul>


    </div>
    {%endif%}


    {{ event_form.non_field_errors }}
    {{ single_occurrence_form.non_field_errors }}

    <form method="post" action="">
        {% csrf_token %}
    <table class="swingtime-table">
        <tfoot>
            <tr>
                <td colspan="2" class="swingtime-td">
                  {%if conflict %}<input type="submit" name="save_anyway" value="Save Anyway" />
                  {%else%}<input type="submit" value="Submit" />
                  {%endif%}
                </td>
            </tr>
        </tfoot>
        <tbody>
        {% include "swingtime/event_form_part.html" %}
        {% include "swingtime/single_occurrence_form_part.html" %}


        </tbody>
    </table>
    </form>

{% endblock %}
