{% extends "swingtime/swingtime_base.html" %}
{% block title %}Event Occurrence{% endblock %}
{% block main_content %}
     <h3 class="margin-top-10">{{occurrence.name}} Event Occurrence <small>{% with occurrence.start_time as st  %}{{ st|date:"l, F jS P" }} {% endwith %}</small></h3>
     <h4 class="margin-top-10">

       {% with occurrence.start_time as st  %}
       <a href="{% url 'swingtime-daily-view' st.year st.month st.day %}">
        <i>Go to {{ st|date:"l, F jS" }} All Locations View</i></a>
        {%if location%} |
        <a href="{% url 'swingtime-daily-location-view' location.pk st.year st.month st.day %}">
         <i>Go to {{ st|date:"l, F jS" }}/{{location.name}} View</i></a>{%endif%}
    {% endwith %}</h4>

  {% include "swingtime/conflict_part.html" %}

     {%if save_success %}
     <div class="alert alert-success" role="alert">{{occurrence.name}} successfully saved!</div>
     {%endif%}

     <form action="" method="post">
         {% csrf_token %}
     <table>
         <tbody>
             {{ form }}
         </tbody>
       </table>

          <table>
             <tr>
                <td><input type="submit" name="check" value="Check Schedule"/></td>
                 <td><input type="submit" name="update" value="Update" /></td>
                  <td><input type="submit" name="delete" value="Delete" /></td>
             </tr>
     </table>
     </form>

{% endblock %}
