{% extends "swingtime/swingtime_base.html" %}
{% block title %}Schedule Assistant{% endblock %}


{% block main_content %}
<div class="row">
  {%if not act%}
  <div class="alert alert-danger" role="alert">This Activity does not exist. Please contact the<a href="mailto:{{CUSTOM_SITE_ADMIN_EMAIL}}" class="alert-link"> site administrator </a>if you believe this is the result of an error.</div>
{%else%}
<div class="col-sm-12">
    <h3 class="margin-top-10 text-center">Schedule Assistant: <a href="{{act.get_view_url}}"><b>{{act.name}}</b></a></h3>

    <div class="col-sm-6">
      <div class="well well-lg">
      <ul style="font-size: 16px;"><li>Default filter is <b><a href="{{act.get_sched_assist_url}}">Level 1</a></b>, which means that you see only timeslots that have no conflicts and are an exact interest-level and time duration match.
        <br><small><i>(Note: Trainings have an inverted interest match, so high interest trainings go in low interest timeslots)</small></i></li>
  <li>A <b><a href="{{act.get_sched_assist_url}}?level=2">Level 2</a></b> search will allow non-figurehead conflicts and timeslots that are +/- interest level match away.
  <br><small><i>(Note: a conflict score of 0 means no conflicts, under 100 means participant, and over 100 means a conflict for the coach or captain)</small></i></li>
      <li>A <b><a href="{{act.get_sched_assist_url}}?level=3">Level 3</a></b> search will show all possible timeslots with no matching for interest or duration, only location type.</li></ul>
    </div>
  </div>
      <div class="col-sm-6">
        <div class="well">
          <form method="POST" class="post-form margin-top-10">
          {% csrf_token %}
          {{form}}
            <button type="submit" name="save_activity" class="btn btn-success margin-top-15 center-block">Save</button>
          </form>
      </div>
  </div>
</div>


{%for slotdict in slots %}
<div class="col-sm-6 margin-top-10">
    <h3 class="text-center">{%cycle "Empty" "Possible" %} Timeslots<br>
      <small>{%cycle "These Slots have been created but don't have an Activity designated" "These Slots have NOT been created but could be" %}
</small></h3>

{%if slotdict %}

<table class="table table-striped">
  <tr><th>Date</th><th>Start</th><th>End</th><th>Location</th><th>Interest<br>Level</th><th style="text-align:center;">Conflict<br>Score</th></tr>
{%for k,v  in slotdict.iteritems %}
{%for o in v%}
<tr><td>{{ o.start_time|date:"D d" }}</td><td>{{ o.start_time|date:"f a" }}</td><td>{{ o.end_time|date:"f a" }}</td>
  <td>{%if o.location.abbrv%}{{o.location.abbrv}}{%else%}{{o.location.name}}{%endif%}</td><td>{{ o.interest }}</td>
  <td style="text-align:center;">
    {%if o.pk%}<a href="{% url 'swingtime-occurrence' o.pk %}?{%if training%}training={{training.pk}}{%elif challenge%}challenge={{challenge.pk}}{%endif%}">
      {%else%}<a href="{% url 'swingtime-add-event' %}?dtstart={{ o.start_time|date:"c" }}&location={{o.location.pk}}{%if training%}&training={{training.pk}}{%elif challenge%}&challenge={{challenge.pk}}{%endif%}">
      {%endif%}{{k}}</a></td></tr>

{%endfor%}
{%endfor%}
</table>

{%else%}<hr><p style="text-align:center;"><i>{%if forloop.first%}
No empty timeslots found. <br>Please either search up a level, or make sure timeslots for the designated location have been created and given an interest level.</i></p>
{%else%}
Seeing all possible timeslots may take up to 15 seconds per location to calculate, so it only happens if you ask for it.</i></p>
<form method="POST" class="post-form margin-top-10">
{% csrf_token %}
<button type="submit" name="makedummies" class="btn btn-lg btn-primary margin-top-15 center-block">See Possible{%if level%} Level {{level}}{%endif%} Timeslots</button>
</form>
{%endif%}{%endif%}


</div><!-- end col-sm-6 possible timeslots-->
{%endfor%}

{%endif%}
</div><!-- end row-->
{% endblock %}
