{%if save_success > 0 %}
<div class="alert alert-success" role="alert">Trainings Successfully Updated!</div>
  {%endif%}

{%if q_od %}
<form method="POST" class="post-form">
{% csrf_token %}
<table class="table table-striped">
  <tr> <td><b>Training</b></td> <td><b>Coaches</b></td>  <td><b>Created On </b></td>  <td colspan="5" style="text-align:center;"><b>Status</b></td></tr>
{%for train,form in q_od.iteritems%}
<tr><td> <a href="{{train.get_view_url}}">{{train.name}}</a></td>
  <td>{%for coach in train.coach.all%}{%if not forloop.first%}, {%endif%}<a href="{{ coach.get_absolute_url}}">
  {{coach.user.first_name}}</a>{%endfor%}</td>
  <td>{{train.created_on}}</td>
    {%for field in form%}<td><b>{{ field.label }}</b></td><td>{{field}}</td>{%endfor%}</tr>
{%endfor%}
  </table>

  <button type="submit" class="btn btn-success margin-top-10 center-block">Update Trainings</button>
</form>
{%else%}

<p>No applicable Trainings found</p>
{%endif%}
