{% extends "swingtime/swingtime_base.html" %}
{% block title %}Submitted Trainings{% endblock %}


{% block main_content %}
<div class="row">

    <h3 class="margin-top-10 text-center">Submitted Trainings</h3>
  <table style="width:100%;"><tr><td style="border: none; text-align:center;"><h3><small>These Trainings have been submitted for {{con}} and have neither been <b><a href="{% url 'train_accept' %}">accepted</a></b> nor <b><a href="{% url 'train_reject' %}">rejected</a></b></small></h3></td>

<td style="border: none; text-align:left;">
      <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Other Cons
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {%for item in con_list%}
        {% url 'train_submit' item.pk as sub_url %}
        <li role="presentation"><a href="{{sub_url}}">{{item}}</a></li>{%endfor%}
      </ul>
    </div>
</td></tr></table>
<hr>

  {% include "swingtime/train_check_form_part.html" %}


</div><!-- end row-->
{% endblock %}
