{% extends "swingtime/swingtime_base.html" %}
{% block title %}Yearly View {{ year }}{% endblock %}
{% block main_content %}
    <h3 class="margin-top-10">
        <a href="{% url 'swingtime-yearly-view' last_year %}"
           title="Last Month">&larr;</a>
        Yearly View {{ year }}
        <a href="{% url 'swingtime-yearly-view' next_year %}"
           title="Next Month">&rarr;</a>
    </h3>

    {% if by_month %}
    <table class="swingtime-table">
        <thead class="swingtime-th">
            <tr class="swingtime-tr">
                <th class="swingtime-th">Month</th>
                <th class="swingtime-th">Title</th>
                <th class="swingtime-th">Day</th>
                <th class="swingtime-th">Start</th>
                <th class="swingtime-th">End</th>
            </tr>
        </thead>
        <tbody>
        {% for dt,occurrences in by_month %}
        <tr class="swingtime-tr month-divider">
            <th class="swingtime-th" rowspan="{{ occurrences|length }}">
                <a href="{% url 'swingtime-monthly-view' dt.year dt.month %}">
                    {{ dt|date:"F" }}</a>
            </th>
            {% for o in occurrences %}
            <td class="swingtime-td"><a href="{{ o.get_absolute_url }}">{{ o.title }}</a></td>
            <td class="swingtime-td">{{ o.start_time|date:"M jS - l" }}</td>
            <td class="swingtime-td">{{ o.start_time|date:"P" }}</td>
            <td class="swingtime-td">{{ o.end_time|date:"P" }}</td>
        </tr>
            {% if not forloop.last %}
        <tr>
            {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No events occurring in {{ year }}</p>
    {% endif %}
{% endblock %}
