<!DOCTYPE html>
{% extends 'layouts/announcement_base.html'%}
{% load staticfiles %}
{% load i18n %}
  <link href="{% static "css/blog.css" %}" rel="stylesheet">

  {% block blogcontent %}

{%for blog in blogs%}
        <div class="blog-post">
          <h1 class="blog-post-title">{{blog.headline}}</h1>
          <p class="blog-post-meta">{{blog.date}} by {{blog.user.first_name}}</p>
          <p>{% autoescape off %}    {{ blog.post|truncatechars:300}} </p>
          <p><a href="{{ blog.get_absolute_url }}">Continue Reading &raquo; </a>{% endautoescape %}</p>
        </div><!-- /.blog-post -->
{%endfor%}

{% endblock %}
