<!DOCTYPE html>
{% extends 'layouts/base.html'%}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<head>
<title>{% block title %}Upload Registrants{% endblock %}</title>
</head>
{% if user.is_a_boss %}

<div class="row" id="moreInfo">
  <div class="col-sm-12">
    <h3>Upload Registrants*<br>
      <small>*Excel file must be identical to 2016 BPT format</small></h3>

  <div class="col-sm-4">
    {%if save_attempt and not save_success%}<div class="alert alert-danger" role="alert">Error uploading registrants</div>{%endif%}
      <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {%for field in form %}
      <p class="margin-top-10">{{ field.label_tag }}<br>
    {%if field.errors%}<ul>{%for e in field.errors%}<li><b>{{ e }}</b></li>{%endfor%}</ul>{%endif%}
    {{ form.non_field_errors }}
    {{ field }}</p>
    {%endfor%}


    <input type="submit" class="margin-top-15" value="submit" />
</form>
  </div><!-- end col-sm-6 -->

  <div class="col-sm-8">
    <div class="well well-sm">
      <h4>Directions</h4>
<p>Please choose your <b>XLSX</b> data file to upload. Must be xlsx, xls won't work.
  <br>If it is successful, this page will not change, but a report entitled "RollerTron Upload [today's date]" will be in your Downloads folder.
  <br>It will include 4 sheets:<ul><li>Registrants Made</li><li>Errors</li><li>Email Dupes</li><li>Incomplete Data</li></ul>
  <br>Please check all 4 sheets to make sure everyone got uploaded, and fix errors for anyone put in anywhere other than "Registrants Made".
  <br>If you are uploading hundreds or thousands of Registrants, this might take up to a minute or two. Please be patient and do not close or stop this page,
  or you will have no report of which people got added to the DB and which did not.</p>
</div>
</div>


  </div><!-- end col-sm-12 -->
</div><!-- end row-->

{%else%}
{% include "no_permission.html" %}
{%endif%}<!-- if is a boss-->

{% endblock %}
