{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 center-block">
      <p class="lead" style="text-align:center;">
  {% trans "Enter your new password below to reset your password:" %}</p>

  <div class="col-md-4 center-block" style="float: none; margin: 0 auto;">
  <form method="post" action="">
{% csrf_token %}

{%if form.errors%}
{% for field, errors in form.errors.items %}
{% for error in errors %}
<p class="text-warning">{{error}}</p>
{%endfor%}{%endfor%}{%endif%}

  {% for field in form %}
  <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{field.label}}"
  {%if 'password' in field.html_name %}type="password"
  {%else%}type="text"
  {%endif%}/>
  {% endfor %}
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

<input class="btn btn-primary btn-block" type="submit" method="post" name="Set password" value="{% trans 'Set password' %}">
  </form>
</div>

</div><!--end dov col-sm-6-->
</div><!--end dov row-->
{% endblock %}


{# This is used by django.contrib.auth #}
