{% load i18n %}

{% blocktrans %}Greetings{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on the {{ domain }} site. If you do not
wish to reset your password, please ignore this message.
{% endblocktrans %}

{% blocktrans %}
To reset your password, please click the following link, or copy and paste it
into your web browser:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

{% blocktrans %}Your username, in case you've forgotten:{% endblocktrans %} {{ user.username }}

If this is your first time logging in to the site:
Check My Profile (http://www.rollertron.com/con/profile/) to ensure your details are complete and accurate
If you would like to Propose a Challenge between non-sanctioned, non-regulation (ie Scrimmage) teams, go to:
http://www.rollertron.com/scheduler/propose_new_challenge/
If you would like to Propose a sanctioned or regulation Game between two official teams, go to:
http://www.rollertron.com/scheduler/propose_new_game/"Propose a Game
If you're still confused, check out the FAQ:
http://www.rollertron.com/con/announcement/FAQ/


{% blocktrans %}Best regards{% endblocktrans %},
{{ site_name }} {% blocktrans %}Management{% endblocktrans %}


{# This is used by django.contrib.auth #}
